body {
    font-family: Arial, sans-serif;
    
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #2196f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
    
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-bottom: 20px;
    min-width: 316px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #weatherData {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .idiomas {
    align-self: end;
    & button {
      font-size: 10px;
      padding: 5px;
      margin: 0;
    }
  }
  .active {
    opacity: .5;
    user-select: none;
    cursor: default;
    pointer-events: none;
  }

  @media (prefers-color-scheme: light)  {
    button {
      background-color: #a4deff;
    }
      button:hover {
        background-color: #124d7b;
        color: white;
      } 
    }
  @media (prefers-color-scheme: dark)  {
    .container {
      background-color: #334b9a;
    }
    button {
      background-color: black;
    }
    button:hover {
      opacity: 1;
      background-color: white;
      color: black
    }
  }